table {
    margin-top: 10px;
    border-collapse: collapse;
    width: 80%;
    height: 50%;
  }
  th, td {
    padding: 8px;
    border: 1px solid black;
    text-align: center;
    font-family: "Arial", sans-serif;
    font-size: 30px;

  }
  th {
    background-color: #f2f2f2;
  }

  #ideal-job-heading {
    margin: 25px;
    text-align: center;
  }