.report-selector ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

.report-selector li {
    margin-right: 10px;
    font-size: 30px;
}

.report-selector li:hover {
    color: red;
    cursor: pointer;
}

.hide {
    display: none;
}