/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #262626;
    padding: 10px;
    text-align: center;
    display: flex;
}

h1 {
    font-family: "Arial", sans-serif;
    margin: auto;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 46px;
}

/* Navigation */
nav {
    display: none;
}

.navbar {
    position: fixed;
    top: 110px;
    left: 0;
    width: 100%;
    padding: 1%;
    background-color: #262626;
    display: flex;
    justify-content: center;
    -webkit-transition: top 0.3s ease, padding 0.3s ease;
    transition: top 0.3s ease, padding 0.3s ease;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    font-family: "Arial", sans-serif;
    font-size: 26px;
    transition: 0.3s ease-out;
}

nav a:hover {
    color: red;
}

/* Hamburger Menu */
img {
    fill: red;
    padding: 20px;
    height: 50px;
    width: 50px;
}

.hamburger {
    padding: 20px;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

.bar {
    display: block;
    width: 30px;
    height: 5px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: white;
}

/* Content */
h2 {
    font-family: "Arial", sans-serif;
    font-size: 30px;
}

h3 {
    font-family: "Arial", sans-serif;
    font-size: 27px;
}

h4 {
    font-family: "Arial", sans-serif;
    font-size: 22px;
}

p {
    font-family: "Arial", sans-serif;
    font-size: 20px;
}

q {
    font-family: "Arial", sans-serif;
    font-size: 20px;
    font-style:italic;
}

li {
    font-family: "Arial", sans-serif;
    font-size: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    font-family: "Arial", sans-serif;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e5e5e5;
}

.container {
    margin-top: 120px;
    margin-left: 150px;
    text-align: left;
    width: 70%;
}

.container a {
    color: black;
    font-family: "Arial", sans-serif;
    font-size: 26px;
    text-decoration: underline;
}

.container a:hover {
    color: red;
}

.pushed-content {
    margin-top: 200px;
}