* {
    padding: 0;
    margin: 0;
}

header {
    background-color: #262626;
    min-height: 70px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

p {
    font-family: "Arial", sans-serif;
    font-size: 30px;
}

li {
    font-family: "Arial", sans-serif;
    font-size: 30px;
}

h1 {
    font-family: "Arial", sans-serif;
    margin: auto;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 46px;
}

h2 {
    font-family: "Arial", sans-serif;
    font-size: 40px;
}

h3 {
    font-family: "Arial", sans-serif;
    font-size: 36px;
}

ul {
    list-style-type: disc;
    margin: 20px;
}


article {
    padding: 20px;
    font-family: Arial, sans-serif;
}

img {
    fill: red;
    padding: 20px;
    height: 50px;
    width: 50px;
}

a:hover {
    color: red;
}

a {
    color: white;
    transition: 0.3s ease-out;
}

.nav-menu li {
    margin-top: 20%;
}

.container {
    display: grid;
    grid-template-columns: 10em 1fr 10em;
    grid-template-rows: 1fr;
    height: 100vh;
}

.nav-meunu > li {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: white;
}

.navbar {
    width: 0;
    overflow-x: hidden;
}

.navbar.active {

    width: 10em;
    height: auto;
    background-color: #262626;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: row;
}

.hamburger {
    margin-left: 15px;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}