body {
    background-color: white;
  }
  h1 {
    margin-left: 265px;
    color: black;
    font-family: helvetica;
  }
  h2 {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 240px;
    margin-right: 40%;
    background-color: rgb(146, 192, 213);
    font-family: arial;
  }

  h3 {
    margin-left: 60px;
    font-family: helvetica;
  }

  h4 {
    margin-left: 60px;
    font-family: arial;
    color: rgb(50, 50, 50);
  }
  h5 {
    margin-left: 60px;
    font-family: arial;
    color: rgb(50, 50, 50);
    
  }
  p {
    color: rgb(40, 40, 40);
    margin-left: 50px;
    margin-right: 40%;
    font-family: helvetica;
  }

  .border {
    border-left-style: solid;
    border-color: rgb(146, 192, 213);
  }
  
.sidenav {
    height:100%;
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #193347;
    display: block;
  }
  
  .sidenav a:hover {
    color: #064579;
  }
  
  .main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }